################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
/.vs/slnx.sqlite

.vs/